commands:
  command1: 
    command: sudo curl --silent --location https://rpm.nodesource.com/setup_12.x | bash -
  command2:
    command: sudo yum -y install nodejs
  command3:
    command: sudo npm install -g migrate-mongo

container_commands:
  001install-migrations:
    command: "migrate-mongo up"
    leader_only: true
    ignoreErrors: true
  
 
 
